/* lora-regular - latin */
@font-face {
	font-family: 'Maison Neue';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('fonts/MaisonNeue/MaisonNeue-Book.woff2') format('woff2'), url('fonts/MaisonNeue/MaisonNeue-Book.woff') format('woff');
}

@font-face {
	font-family: 'Maison Neue Italic';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('fonts/MaisonNeue/MaisonNeue-BookItalic.woff2') format('woff2'), url('fonts/MaisonNeue/MaisonNeue-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'Maison Neue Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/MaisonNeue/MaisonNeue-Bold.woff2') format('woff2'), url('fonts/MaisonNeue/MaisonNeue-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Maison Neue Bold Italic';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/MaisonNeue/MaisonNeue-BoldItalic.woff2') format('woff2'), url('fonts/MaisonNeue/MaisonNeue-BoldItalic.woff') format('woff');
}

$font-sans: 'Maison Neue', 'arial', sans-serif !default;
