.block {
  display: block;
}
.relative{
  position: relative;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.clickable {
  cursor: pointer;
}
.upper {
  text-transform: uppercase;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  > * {
    margin: 5px;
    white-space: nowrap;
    flex: 0 0 auto;
  }
}
.buttons--spaced {
  display: flex;
  flex-wrap: wrap;
  margin: -5px -30px;
  > * {
    margin: 5px 30px;
    white-space: nowrap;
    flex: 0 0 auto;
  }
}

.page-block {
  width: 100%;
  max-width: $size-xl;
  margin-left: auto;
  margin-right: auto;
}
.page-block--small {
  width: 100%;
  max-width: $size-lg;
  margin-left: auto;
  margin-right: auto;
}
.page-block--large {
  width: 100%;
  max-width: $size-xl-extended;
  margin-left: auto;
  margin-right: auto;
}
.page-block--extralarge {
  width: 100%;
  max-width: $size-2x;
  margin-left: auto;
  margin-right: auto;
}
.discret {
  opacity: 0.65;
}

.b {
  border-color: inherit;
  border-style: solid;
}
.bt {
  border-color: inherit;
  border-top-style: solid;
}
.bb {
  border-color: inherit;
  border-bottom-style: solid;
}
.by {
  border-color: inherit;
  border-top-style: solid;
  border-bottom-style: solid;
}
.bx {
  border-color: inherit;
  border-left-style: solid;
  border-right-style: solid;
}
.b1 {
  border-width: 1px;
}
.bg{
  border-color: #ddd;
}

.rounded5 {
  border-radius: 5px;
}
.rounded15 {
  border-radius: 15px;
}
.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.text-icon {
  display: inline-block;
  margin: -6px;
}
i.material-icons {
  font-size: 1.25em;
}
.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.contain {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.scale-down {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

.cartouche{
  background-color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.shaded{
  position: relative;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.03);
  }
}

.grey-bg{
  background-color: #eee;
}
.yellow-bg {
  background-color: #ffed00;
}

/*  bouton ancre pour les spectacles du meme soir */
a.link-related {
  display: inline-block;
  background-color:#ced4fa;
  border-radius:2px;
  padding:5px 10px;
  text-decoration: none;
  margin-left: 30px;
}

.link-related svg {
  margin-right:5px;
}

/* bouton reserver de l'index  */
.reserver {
  position:absolute;
  bottom:0;
  right:0;
}

/* bloc privatisation du footer  */
.private {
  border-top:1px #FFF solid;
}

/* sticker mot vignette  */
.shaded .mot {
  position: absolute;
  width:100%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
    z-index: 3;
}

.mot span {
  display: inline-block;
  padding:10px;
  background-color:#FFF;
}

/*  agenda */

.past div {
  color:#999;
}

.past .resa {
  display: none;
}

.we {
  background: linear-gradient(-45deg, #999999 1%, #fff 1%, #fff 49%, #999999 49%, #999999 51%, #fff 51%, #fff 99%, #999999 99%);
  background-size: 9px 5px;
  background-position: 50px 50px;
}

.bdt {
  border-color: inherit;
  border-top-style: dashed; }

.bdb {
  border-color: inherit;
  border-bottom-style: dashed; }

.b2 {
  border-width: 2px; }

.b3 {
  border-width: 3px; }

.b4 {
  border-width: 4px; }

.bl-days > div:last-child {
  border:none !important;
}


/*  bouton affichage de l'agenda */

a.display_agenda {
  display: inline-block;
  background-color:#ced4fa;
  border-radius:2px;
  padding:5px 10px;
  text-decoration: none;
  cursor: pointer;
}

.display_agenda svg {
  margin-right:5px;
}

.closed svg {
  transform: rotate(-90deg);
}

