


label {
	display: block;
	opacity: 0.65;
	margin-bottom: 0.5em;
}

input,
button,
textarea,
select {
	font: inherit;
}

input[type='text'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='number'],
input[type='color'],
textarea,
.text-input {
	appearance: none !important;
	color: inherit;
	background-color: lighten($color-main, 70.5%);
	outline: none;
	border: 2px solid transparent;
	padding: 12px 12px;
	border-radius: 5px;
	// transition: all 0.1s ease-in;
	&:focus {
		background: #fff;
		border-color: saturate(lighten($color-main, 50%), 30%);
	}
	&.error {
		border: 1px solid $color-error;
	}
}

$btn-regular: #2a3786;
$btn-neutral: lighten($color-main, 65%);
$btn-transparent: transparentize(lighten($color-main, 40%), 0.6);
$btn-valid: saturate(lighten($color-valid, 20%), 80%);
$btn-warning: saturate(lighten($color-warning, 20%), 80%);
$btn-error: saturate(lighten($color-error, 20%), 80%);

button:not(.unstyled),
input[type='button'],
input[type='submit'],
input[type='reset'],
.button {
	outline: none;
	border: 2px solid transparent;
	padding: 12px 24px;
	border-radius: 5px;
	transition: all 0.1s ease-in;
	cursor: pointer;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
  color: $color-main;
  background-color: saturate(lighten($btn-regular, 55%), 30%);
  &:hover {
    background-color: lighten($btn-regular, 50%);
  }
  &:focus {
    border-color: saturate(lighten($btn-regular, 35%), 30%);
  }

	&.block {
		display: flex;
	}
	&.button--medium {
		padding: 8px 16px;
	}
	&.button--small {
		padding: 4px 8px;
	}
	&.neutral {
		color: $color-main;
		background-color: $btn-neutral;
		&:hover {
			background-color: darken($btn-neutral, 5%);
		}
		&:focus {
			border-color: saturate(darken($btn-neutral, 10%), 30%);
		}
	}
	&.transparent {
		color: $color-main;
		background-color: $btn-transparent;
		&:hover {
			opacity: 1 !important;
			background-color: darken($btn-transparent, 5%);
		}
		&:focus {
			border-color: saturate(darken($btn-transparent, 10%), 30%);
		}
	}
	&.valid {
		color: darken($color-valid, 25%);
		background-color: $btn-valid;
		&:hover {
			background-color: darken($btn-valid, 5%);
		}
		&:focus {
			border-color: saturate(darken($btn-valid, 20%), 30%);
		}
	}
	&.warning {
		color: darken($color-warning, 25%);
		background-color: $btn-warning;
		&:hover {
			background-color: darken($btn-warning, 5%);
		}
		&:focus {
			border-color: saturate(darken($btn-warning, 20%), 30%);
		}
	}
	&.error {
		color: darken($color-error, 25%);
		background-color: $btn-error;
		&:hover {
			background-color: darken($btn-error, 5%);
		}
		&:focus {
			border-color: saturate(darken($btn-error, 20%), 30%);
		}
	}
	.icon {
		opacity: 0.45;
		display: inline-block;
		margin-top: -2px;
		padding: 0 8px;
	}
	.icon:first-child {
		margin-left: -24px;
	}
	.icon:last-child {
		margin-right: -24px;
	}
	&.button--medium {
		.icon:first-child {
			margin-left: -16px;
		}
		.icon:last-child {
			margin-right: -16px;
		}
	}
	&.button--small {
		.icon:first-child {
			margin-left: -8px;
		}
		.icon:last-child {
			margin-right: -8px;
		}
	}
	&.rounded {
		border-radius: 4em;
		min-width: 1.5em;
		min-height: 1.5em;
		padding-top: .05em;
		padding-bottom: 0;
	}
}

select {
	appearance: none !important;
	color: inherit;
	padding: 12px 42px 12px 12px;
	display: inline-block;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid lighten($color-main, 50%);
	outline: none;
	background: url('./images/angle-bottom.svg');
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 20px;
	box-shadow: 0 0 0px 200px inset rgba(255, 255, 255, 0.5);
	&:focus {
		padding: 11px 41px 11px 11px;
		border-width: 2px;
		border-color: saturate(lighten($color-main, 50%), 30%);
	}
	&.error {
		border-color: $color-error;
	}
}


summary::-webkit-details-marker {
    display: none
}

details:not(.unstyled){
	border-top: 1px solid;
	&:last-of-type{
		border-bottom: 1px solid;
	}
	summary{
		display: flex;
		align-items: center;
		cursor: pointer;
		outline: none;
		&:after {
		    content: "+";
		    font-size: 2.6rem;
		    margin-left: auto;
		    padding: 0 10px;
		}
	}
}
details:not(.unstyled)[open] summary:after {
    content: "-";
}

details.unstyled{
  summary{
    display: flex;
    cursor: pointer;
  }
}
details.unstyled[open] summary:after {
}
