/*

LAYOUT HELPERS

*/

$layout-spacing: 5px;

.columns {
  display: flex;
  flex-wrap: wrap;
  &.columns--gapless {
    margin-left: 0;
    margin-right: 0;
    & > .col {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.col {
  flex: 1;
  max-width: 100%;
}

@mixin grid-maker($key: '') {
  $spacing: $layout-spacing;
  @if $key == 'lg' {
    $spacing: $layout-spacing * 4;
  } @else if $key == 'md' {
    $spacing: $layout-spacing * 3;
  } @else if $key == 'sm' {
    $spacing: $layout-spacing * 2;
  } @else {
    $spacing: $layout-spacing;
  }

  @if $key != '' {
    $key: '-#{$key}';
  }

  .columns {
    margin: (-$spacing) 0 0 (-$spacing);
  }
  .col {
    padding: ($spacing) 0 0 ($spacing);
  }
  .columns--small {
    margin: (-$spacing) 0 0 (-$spacing);
    .col{
      padding: ($spacing) 0 0 ($spacing);
    }
  }

  .columns__wrapper#{$key} {
    overflow-x: hidden;
  }

  &.justified#{$key} {
    justify-content: space-between;
    > .col {
      flex: initial;
    }
  }
  .col-12#{$key},
  .col-11#{$key},
  .col-10#{$key},
  .col-9#{$key},
  .col-8#{$key},
  .col-7#{$key},
  .col-6#{$key},
  .col-5#{$key},
  .col-4#{$key},
  .col-3#{$key},
  .col-2#{$key},
  .col-1#{$key} {
    flex: none;
  }
  .col-12#{$key} {
    width: 100%;
  }
  .col-11#{$key} {
    width: 91.66666667%;
  }
  .col-10#{$key} {
    width: 83.33333333%;
  }
  .col-9#{$key} {
    width: 75%;
  }
  .col-8#{$key} {
    width: 66.66666667%;
  }
  .col-7#{$key} {
    width: 58.33333333%;
  }
  .col-6#{$key} {
    width: 50%;
  }
  .col-5#{$key} {
    width: 41.66666667%;
  }
  .col-4#{$key} {
    width: 33.33333333%;
  }
  .col-3#{$key} {
    width: 25%;
  }
  .col-2#{$key} {
    width: 16.66666667%;
  }
  .col-1#{$key} {
    width: 8.33333333%;
  }
  .col-auto#{$key} {
    width: auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }

  .order-1#{$key} {
    order: 1;
  }
  .order-2#{$key} {
    order: 2;
  }
  .order-3#{$key} {
    order: 3;
  }
  .order-4#{$key} {
    order: 4;
  }
  .order-5#{$key} {
    order: 5;
  }
  .order-6#{$key} {
    order: 6;
  }

  .grow#{$key} {
    flex-grow: 1;
  }
  .shrink#{$key} {
    flex-shrink: 1;
  }
  .no-grow#{$key} {
    flex-grow: 0;
  }
  .no-shrink#{$key} {
    flex-shrink: 0;
  }

  .full#{$key} {
    width: 100%;
  }
  .hidden#{$key} {
    display: none !important;
  }
  .visible#{$key} {
    display: block !important;
  }

  // flexbox
  .flex#{$key} {
    display: flex;
  }
  .inline-flex#{$key} {
    display: inline-flex;
  }
  .inline-block#{$key} {
    display: inline-block;
  }
  .center#{$key} {
    text-align: center;
    &.flex,
    &.flex#{$key} {
      justify-content: center;
    }
  }
  .align-left#{$key} {
    text-align: left;
    &.columns,
    &.flex,
    &.flex#{$key} {
      justify-content: flex-start;
    }
  }
  .align-right#{$key} {
    text-align: right;
    &.columns,
    &.flex,
    &.flex#{$key} {
      justify-content: flex-end;
    }
  }
  .align-top#{$key} {
    align-items: flex-start;
  }
  .align-bottom#{$key} {
    align-items: flex-end;
  }
  .vertical-center#{$key} {
    align-items: center;
  }
  .align-baseline#{$key} {
    align-items: baseline;
  }

  .wrap#{$key} {
    flex-wrap: wrap;
  }
  .no-wrap#{$key} {
    flex-wrap: nowrap;
  }
  .reverse-wrap#{$key} {
    flex-wrap: wrap-reverse;
  }
  .noflex#{$key} {
    flex: 0 0 auto;
  }
  .self-align-top#{$key} {
    align-self: start;
  }
  .self-align-center#{$key} {
    align-self: center;
  }
  .self-align-right#{$key} {
    margin-left: auto;
  }
  .float-left#{$key} {
    float: left;
  }
  .float-right#{$key} {
    float: right;
  }

  .dark-mode#{$key} {
    background: #222;
    color: #fff;
  }
  .grey-mode#{$key} {
    background: #eee;
    color: inherit;
  }
  .normal-mode#{$key} {
    background: transparent;
    color: inherit;
  }
  .b#{$key} {
    border-color: inherit;
    border-style: solid;
  }
  .bt#{$key} {
    border-color: inherit;
    border-top-style: solid;
  }
  .bb#{$key} {
    border-color: inherit;
    border-bottom-style: solid;
  }
  .by#{$key} {
    border-color: inherit;
    border-top-style: solid;
    border-bottom-style: solid;
  }
  .bx#{$key} {
    border-color: inherit;
    border-left-style: solid;
    border-right-style: solid;
  }
  .b0#{$key} {
    border-width: 0 !important;
  }
  .b1#{$key} {
    border-width: 1px;
  }


}

// spacing helpers
$sizes: '0' '5' '10' '15' '20' '30' '40' '60' '100';
@mixin spacing-helpers($key: '') {
  @if $key != '' {
    $key: '-#{$key}';
  }
  @each $size in $sizes {
    // margins
    .ma#{$size}#{$key} {
      margin: #{$size}px;
    }
    .mt#{$size}#{$key} {
      margin-top: #{$size}px;
    }
    .mb#{$size}#{$key} {
      margin-bottom: #{$size}px;
    }
    .mr#{$size}#{$key} {
      margin-right: #{$size}px;
    }
    .ml#{$size}#{$key} {
      margin-left: #{$size}px;
    }
    .mx#{$size}#{$key} {
      margin-left: #{$size}px;
      margin-right: #{$size}px;
    }
    .my#{$size}#{$key} {
      margin-top: #{$size}px;
      margin-bottom: #{$size}px;
    }
    // negative margins
    .ma-#{$size}#{$key} {
      margin: -#{$size}px;
    }
    .mt-#{$size}#{$key} {
      margin-top: -#{$size}px;
    }
    .mb-#{$size}#{$key} {
      margin-bottom: -#{$size}px;
    }
    .mr-#{$size}#{$key} {
      margin-right: -#{$size}px;
    }
    .ml-#{$size}#{$key} {
      margin-left: -#{$size}px;
    }
    .mx-#{$size}#{$key} {
      margin-left: -#{$size}px;
      margin-right: -#{$size}px;
    }
    .my-#{$size}#{$key} {
      margin-top: -#{$size}px;
      margin-bottom: -#{$size}px;
    }
    // paddings
    .pa#{$size}#{$key} {
      padding: #{$size}px;
    }
    .pt#{$size}#{$key} {
      padding-top: #{$size}px;
    }
    .pb#{$size}#{$key} {
      padding-bottom: #{$size}px;
    }
    .pr#{$size}#{$key} {
      padding-right: #{$size}px;
    }
    .pl#{$size}#{$key} {
      padding-left: #{$size}px;
    }
    .px#{$size}#{$key} {
      padding-left: #{$size}px;
      padding-right: #{$size}px;
    }
    .py#{$size}#{$key} {
      padding-top: #{$size}px;
      padding-bottom: #{$size}px;
    }
  }
  .row--extrasmall#{$key}:not(:last-child):not(:empty) {
    margin-bottom: 5px;
  }
  .row--small#{$key}:not(:last-child):not(:empty) {
    margin-bottom: 10px;
  }
  .row#{$key}:not(:last-child):not(:empty) {
    margin-bottom: 15px;
  }
  .row--medium#{$key}:not(:last-child):not(:empty) {
    margin-bottom: 30px;
  }
  .row--large#{$key}:not(:last-child):not(:empty) {
    margin-bottom: 40px;
  }
  .row--extralarge#{$key}:not(:last-child):not(:empty) {
    margin-bottom: 60px;
  }
}

$breakpoints: (
  '': '',
  'sm': $size-sm,
  'md': $size-md,
  'lg': $size-lg
);

//  "xl": $size-xl,
//  "lg": $size-lg,
//  "xs": $size-xs

@each $key, $breakpoint in $breakpoints {
  @if $breakpoint != '' {
    @media (min-width: #{$breakpoint}) {
      @include grid-maker($key);
      @include spacing-helpers($key);
    }
  } @else {
    @include grid-maker($key);
    @include spacing-helpers($key);
  }
}
