$font-sans: 'arial', sans-serif !default;

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25em;
}

.title-h0 {
  font-size: 7.2rem;
  line-height: 1.2em;
}
h1,
.title-h1 {
  line-height: 1.1em;
  font-size: 3.2rem;
  @media (min-width: $size-md) {
    font-size: 5.2rem;
  }
}
h2,
.title-h2 {
  font-size: 2.8rem;
}
h3,
.title-h3 {
  font-size: 2.2rem;
}
h4,
.title-h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.7rem;
}
h6 {
  font-size: 1.6rem;
}

.text {
  line-height: 1.4em;
  // overflow-wrap: break-word;
  // hyphens: auto;
  // hyphenate-limit-chars: 10 4 3;
  > *:not(img):not(figure):not(iframe) {
    max-width: 60rem;
  }
  &.wide{
    // hyphens: none;
    > *:not(img):not(figure):not(iframe) {
      max-width: 72rem;
      line-height: 1.5em;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child){
      margin-top: 2em;
    }
    &:not(:last-child){
      margin-bottom: 1em;
    }
  }
  p:not(:last-child) {
    margin-bottom: 1em;
  }
  figure:not(:last-child) {
    margin-bottom: 1em;
  }
  ul,
  ol {
    margin-left: 1em;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
    li:not(:last-child) {
      margin-bottom: 0.3em;
    }
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
}

.text--extralarge {
  font-size: 20px;
  line-height: 1.4em;
}
.text--large {
  font-size: 18px;
  line-height: 1.4em;
}
.text--small {
  font-size: 14px;
  line-height: 1.3em;
  &.font-mono {
    line-height: 1.2em;
  }
}
.text--extrasmall {
  font-size: 12px;
  line-height: 1.3em;
  &.font-mono {
    line-height: 1.2em;
  }
}

strong,
.bold {
  font-family: 'Maison Neue Bold';
  font-weight: 700;
}
.normal {
  font-family: 'Maison Neue';
  font-weight: normal;
}
em,
.italic {
  font-family: 'Maison Neue Italic';
  font-style: italic;
}
.regular {
  font-family: 'Maison Neue';
  font-style: normal;
}
strong em {
  font-family: 'Maison Neue Bold Italic';
  font-weight: 700;
  font-style: italic;
}
a.unstyled {
  text-decoration: none;
  color: inherit;
  &:hover,
  &:visited,
  &:active {
    color: inherit;
  }
  &:hover:not(.no-hover) {
    opacity: 0.75;
  }
}

@mixin underline() {
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-decoration-skip-ink: auto;
  //text-underline-position: under;
}
.link,
a:not(.unstyled),
a:not(.unstyled):visited {
  color: inherit;
  @include underline();
  &:hover {
    opacity: 0.75;
  }
}
a.link-active {
  @include underline();
}
.link-onhover:hover {
  @include underline();
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
