@import 'modules/reset';
@import 'modules/fonts';
@import 'modules/typography';
@import 'modules/inputs';
@import 'modules/layout';
@import 'modules/helpers';

@import 'modules/menu';

@import 'pages/homepage';

html,
body {
  //overflow-x: hidden;
}

html {
  font-size: 10px;
  scroll-behavior: smooth

  // -ms-overflow-style: scrollbar;
  // overflow-y: scroll;
  // overscroll-behavior-y: none;
}
body {
  font-family: $font-sans;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
  color: $color-main;
  line-height: 1.35em;
  background-color: #fff;
  min-height: 100%;
  &.no-fouc {
    opacity: 1;
  }
}
main#site-content{
  min-height: 65vh;
}
header,
footer {
  overflow: hidden;
  width: 100%;
}

img:not([src]) {
  opacity: 0;
  visibility: hidden;
  padding-top: 50%;
  width: 100%;
}
img[data-src],
img[data-srcset] {
  display: block;
  min-height: 1px;
}
img:not(.initial) {
  transition: opacity 1s;
}
img.initial,
img.loaded,
img.error {
  opacity: 1;
}

input[type='text'] {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid;
}

figure.video {
  position: relative;
  padding-top: 60%;
  > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
