/* Colors */
$color-main: #111;
$color-regular: #3182ce;
$color-valid: #38a169;
$color-warning: #dd6b20;
$color-error: #e53e3e;

/* Breakpoints */
$size-xs: 480px !default;
$size-sm: 720px !default;
$size-md: 960px !default;
$size-lg: 1080px !default;
$size-xl: 1440px !default;
$size-xl-extended: $size-xl + 80;
$size-2x: 1680px !default;
