#homepage-cover {
	width: 100%;
	height: 100vh;
	height: calc(100vh - 60px);
  position: relative;
	figure {
		height: 100%;
	}
	.text-container {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
	}
}
